
<% content_for :header_tags do %>
  <style type="text/css">
    td.x {
      border-left: 1px solid #E7E7E7;
      text-align: left;
    }

    table.list {
      margin-bottom: 2em;
    }

    table tr:nth-child(odd) {
      background-color: #eee;
    }
    table tr td.NoColor {
      text-align: left;
    }

    table tr td.TestNotDefined {
      text-align: left;
    }

		table tr td.TestNotRun {
      background-color: <%= colors['missing_color'] %>;
      text-align: left;
    }
    table tr td.TestPassed {
      background-color: <%= colors['passed_color'] %>;
      text-align: left;
    }
    table tr td.TestFailed {
      background-color: <%= colors['error_color'] %>;
      text-align: left;
    }
    table tr td.TestBlocked {
      background-color: <%= colors['error_color'] %>;
      text-align: left;
    }
    table tr td.TestNotAvailable {
      background-color: <%= colors['error_color'] %>;
      text-align: left;
    }

  </style>
<%end %>


<% unless flash[:error] %>
  <% if ((issue_rows.length == 0) or (issue_cols.length == 0)) %>
    <%= textilizable "(!) _Impossible de construire la matrice de tracabilite, car au moins une requete personnalisee ne renvoie aucun ticket._" %>
  <% else %>

	  <table class="list">
	    <thead>
	      <th colspan="<%= col1_span%>"><%= query_rows.name %></th>
	      <th colspan="<%= col2_span%>"><%= query_cols.name %></th>
	    </thead>

	    <tbody>
			  <% if use_subheaders %>
					<tr>
						<% subheaders['col1'].each do |subheader| %>
						<td class="NoColor">
							<%= subheader %>
						</td>
						<% end %>
						<% subheaders['col2'].each do |subheader| %>
							<td class="NoColor">
								<%= subheader %>
							</td>
						<% end %>
					</tr>
			  <% end %>

	      <% issue_rows.each do |issue_row| %>
            <tr>
							<% if use_subheaders %>
									<% if option_display_id_col1 == true %>
										<td rowspan="<%= issue_pairs[issue_row].nil? ? 1 : issue_pairs[issue_row].length %>"  style="text-align:left;">
										  <%= link_to "##{issue_row.id}", issue_path(issue_row) %>
										</td>
									<% end %>
									<% if option_display_status_col1 == true %>
								  	<td rowspan="<%= issue_pairs[issue_row].nil? ? 1 : issue_pairs[issue_row].length %>"  style="text-align:left;">
									    <%= issue_row.status %>
										</td>
									<% end %>
									<td rowspan="<%= issue_pairs[issue_row].nil? ? 1 : issue_pairs[issue_row].length %>"  style="text-align:left;">
										<%= issue_row.subject %>
									</td>
									<% if option_display_description_col1 == true %>
										<td rowspan="<%= issue_pairs[issue_row].nil? ? 1 : issue_pairs[issue_row].length %>"  style="text-align:left;">
											<%= textilizable issue_row.description %>
										</td>
									<% end %>
								</td>
							<% else %>
								<td rowspan="<%= issue_pairs[issue_row].nil? ? 1 : issue_pairs[issue_row].length %>"  style="text-align:left;">
								<% if option_display_id_col1 == true %>
									<%= link_to "##{issue_row.id}", issue_path(issue_row) %>,
								<% end %>
								<% if option_display_status_col1 == true %>
									<%= issue_row.status %>,
								<% end %>
								<%= issue_row.subject %>
								<% if option_display_description_col1 == true %>

		    <div class="description">
			    <%= textilizable issue_row.description %>
		    </div>
								<% end %>
								</td>
							<% end %>
	          <% if issue_pairs[issue_row].nil? %>
	            <td class="NoColor" colspan="<%= col2_span%>"></td>
	          <% else %>
	            <% first = true %>
	            <% issue_pairs[issue_row].keys.sort.each do |issue_col| %>
	              <% if first then first = false else %>
	                </tr><tr>
	              <% end %>
									<% if use_subheaders %>
											<% if option_display_id_col2 == true %>
											  <td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
												  <%= link_to "##{issue_col.id}", issue_path(issue_col) %>
												</td>
											<% end %>
											<% if option_display_status_col2 == true %>
											  <td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
												  <%= issue_col.status %>
												</td>
											<% end %>
										  <td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
											  <%= issue_col.subject %>
											</td>
                    <% if option_display_description_col2 == true %>
                      <td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
                        <div class="description">
                          <%= textilizable issue_col.description %>
                        </div>
                      </td>
                    <% end %>
											<% if issue_pairs[issue_row][issue_col]["result"] != "no_test_defined" %>
												<% if issue_pairs[issue_row][issue_col] %>
													<td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
														<%= issue_pairs[issue_row][issue_col]["created"] %>
													</td>
													<td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
														<%= issue_pairs[issue_row][issue_col]["version"] %>
													</td>
													<td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
														<%= issue_pairs[issue_row][issue_col]["result"] %>
													</td>
												<% else %>
													<td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">-</td>
													<td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">-</td>
													<td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">-</td>
												<% end %>
											<% end %>
									<% else %>
								    <td class="<%= issue_pairs[issue_row][issue_col]["class"]%>">
											<% if option_display_id_col2 == true %>
												<%= link_to "##{issue_col.id}", issue_path(issue_col) %>,
											<% end %>
											<% if option_display_status_col2 == true %>
												<%= issue_col.status %>,
											<% end %>
	                	  <%= issue_col.subject %><% if issue_pairs[issue_row][issue_col]["result"] != "no_test_defined" %>.
											<% if issue_pairs[issue_row][issue_col] %>Testrun:	<%= issue_pairs[issue_row][issue_col]["created"] %>, Version: <%= issue_pairs[issue_row][issue_col]["version"] %>, Result: <%= issue_pairs[issue_row][issue_col]["result"] %> <% else %> Testrun: NOT EXECUTED <% end %>
											<% end %>
											<% if option_display_description_col2 == true %>

												<div class="description">
													 <%= textilizable issue_col.description %>
												</div>
											<% end %>
	              		</td>
										<% end %>
	            <% end %>
	          <% end %>
	        </tr>
	      <% end %>
	      <% unless not_seen_issue_cols.empty? %>
	        <tr>
	          <td colspan="<%= col1_span%>"></td>
	          <td  colspan="<%= col2_span%>" style="text-align:left;">
	            <% not_seen_issue_cols.each do |issue_col| %>
                      <p><%= link_to "##{issue_col.id}", issue_path(issue_col) %> <%= issue_col.subject %><p>
	            <% end %>
	          </td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
   <% end %>
<% end %>
